{
    "presets": [
      "env",
      "react",
      "stage-2"
    ],
    "plugins": [
      "transform-decorators-legacy",
      "transform-async-generator-functions",
      "transform-regenerator",
      ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
    ]
  }