:global(.drag) {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

:global(.no_drag) {
    -webkit-app-region: no-drag;
}
:global(.header){
    height:60px;
    width:100%;
    padding:10px;
    border-bottom: 1px #CCC dashed;
}
:global(.header_top){
    display:flex;
}
:global(.header_title){
    flex:1;
    font-weight: bolder;
    font-size: 14px;
    vertical-align:middle;
    margin: 0px;
}
:global(.header_button span){
    padding-left:3px;
    font-weight: bolder;
    vertical-align:middle;
    opacity : 0;
    transition: opacity  0.2s;
}

:global(.in_head span){
    opacity :1;
}
:global(.head_foot){
    display: flex;
    vertical-align:middle;
}
:global(.head_info){
    vertical-align:middle;
    font-weight: bolder;
    font-size: 14px;
    flex: 1;
}
